################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TemplateParser.Test/bin/Debug/net461
/TemplateParser.Test/obj/Debug/net461
/src/TemplateParser/bin/Debug/net461
/src/TemplateParser/obj/Debug/net461
/artifacts/bin/TemplateParser/src/TemplateParser
/.vs
